@import "../node_modules/bootstrap/scss/functions";

$yellow: #fffa19;

.jumbotron {

	background-color: $yellow;
	color: black;
	height: 25vh;
	text-align: left;
  	padding: 50px 30px;
  	margin-top: 50px;
}

.pie{

	margin-top: 20px;
	background-color: $yellow;
	padding: 20px 20px 20px 20px;

}

.card-hotel{

	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 20px;
	margin-right: 10px;




} 

.btn-reserva{

	width: 100%;
	border-radius:0px; 
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-size: 15px;
	 

.tab-content{


	padding-top: 60px;
}